<%- include('../partials/header'); %>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <% rooms.forEach(function (room) { %>
                        <li>
                            <h4><a href="/locations/<%= room.id %>">
                                    <%= room.name %>
                                </a></h4>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer'); %>