<%- include('../partials/header'); %>
<main>
    <h1><%= title %></h1>
    <h3><%= description %></h3>

    <% if (error === "1") { %>
        <h3 class="error">Er is geen datum en tijd ingevoerd.</h3>
    <% } %>

    <form class="form" action="/conference/add" method="post">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" placeholder="title">
        <label for="description">Description</label>
        <input id="description" type="text" name="description" placeholder="description">
        <label for="company">Company</label>
        <input id="company" type="text" name="company" placeholder="company">
        <label for="size">Size</label>
        <input id="size" type="number" name="size" placeholder="size">
        <label for="dateStart">Start Date/Time</label>
        <input id="dateStart" type="datetime-local" name="dateStart" required>
        <label for="dateEnd">End Date/Time</label>
        <input id="dateEnd" type="datetime-local" name="dateEnd" required>
        <button type="submit">Add</button>
    </form>
</main>
<%- include('../partials/footer'); %>